In [13]:
import pandas as pd
import os
import glob

In [6]:
path = "./Sales_Data"
files = [file for file in os.listdir(path)if not file.startswith('.')]
all_months_data = pd.DataFrame()

for file in files:
    current_data = pd.read_csv(path+"/"+file)
    all_months_data = pd.concat([all_months_data, current_data])
    
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [11]:
path = "./Sales_Data"
filepaths = [f for f in os.listdir("./Sales_Data") if not f.startswith('.')]
df = pd.concat(map(pd.read_csv('./Sales_Data'), filepaths))
df.head()

FileNotFoundError: [Errno 2] File b'Sales_April_2019.csv' does not exist: b'Sales_April_2019.csv'

In [14]:
p = r'C:\Users\sunil\Desktop\project data analysis\sale\Sales_Data'                     # use your path
all_files = glob.glob(os.path.join(p,"*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [17]:
p = './Sales_Data'                     
all_files = glob.glob(os.path.join(p,"*.csv"))     
concatenated_df=pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [18]:
concatenated_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [19]:
path = r'C:\Users\sunil\Desktop\project data analysis\sale\Sales_Data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [15]:
a = 'my name is sunil'
a.split(' ')[2]

'is'

In [18]:
a.split(' ')[1][0:2]

'na'

In [10]:
a='           p'
print(a)

           p

In [11]:
a.strip()

'p'

In [12]:
a.lstrip()

'p'

In [1]:
#list comrenhison
a = []

for i in 'human':
    a.append(i)
    
print(a)

['h', 'u', 'm', 'a', 'n']

In [2]:
a = [i for i in 'human']
print(a)

['h', 'u', 'm', 'a', 'n']

In [6]:
a = [i+'a' for i in 'human']
print(a)

['ha', 'ua', 'ma', 'aa', 'na']